<a href="https://colab.research.google.com/github/WoogiWooks/CodeUP_Python_Basic100/blob/main/%EC%BD%94%EB%93%9C%EC%97%85%EB%AC%B8%EC%A0%9C_%ED%99%95%EC%9D%B8%20%EB%B0%8F%20%EB%B3%B5%EC%8A%B5%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **6073**

In [ ]:
a = input()
a = int(a)
while True:
    a=a-1
    if a>=0:
        print(a)
    else:
        break

5
4
3
2
1
0

In [ ]:
a = input()
a = int(a)
while True:
    if a>0:
        a=a-1
        print(a)
    else:
        break

5
4
3
2
1
0

In [ ]:
a = input()
a = int(a)
while True:
    if a>=0:
        a=a-1
        print(a)
    else:
        break

5
4
3
2
1
0
-1

In [ ]:
a = input()
a = int(a)
while True:
    if a>=0:
        a=a-1
        print(a)
    else:
        break

5
4
3
2
1
0
-1

# **6074**

In [ ]:
# 영문자를 10진수로
# ord
a = "a"
n = ord(a)
print(n)
print(type(n))

97
<class 'int'>

In [ ]:
# 10진수를 영문자로
# chr
a = 97
n = chr(a)
print(n)
print(type(n))

a
<class 'str'>

# **가로 출력**

In [ ]:
# end="" 사용

a = int(input())
for i in range(0, a+1):
    print(i, "", end="")

5
0 1 2 3 4 5

# **원하는 문자 입력시 까지 반복 출력**

In [ ]:
while True:
    a = input()
    print(a)
    if a=="q":
        break

a
a
b
b
q
q

In [ ]:
# q입력시 q나오고 끝나는게 아니라 q가 안나오고 끝남
while True:
    a = input()
    if a=="q":
        break
    else:
        print(a)

a
a
b
b
q

# **16진수로 표현하기**

In [ ]:
a = input()
n = int(a)
print('%x'% n)

11
b

# **369 게임**

In [ ]:
n = int(input())
for i in range(1, n+1):
    i = str(i)
    if ("3" in i) or ("6" in i) or ("9" in i):
        print("X")
    else:
        print(i)

30
1
2
X
4
5
X
7
8
X
10
11
12
X
14
15
X
17
18
X
20
21
22
X
24
25
X
27
28
X
X

In [ ]:
n = int(input())
for i in range(1, n+1):
    if (3 in i) or (6 in i) or (9 in i):
        print("X")
    else:
        print(i)

# in은 연속형에서만 사용이 가능
# 정수는 문자열처럼 연속형이 아님
# 30은 3과 0으로 이루어진게 아닌 30그자체의 불연속형
# "30"은 3과 0으로 이루어진 연속형

30

TypeError: ignored

In [ ]:
n = int(input())
for i in range(1, n+1):
    if (3 in [i]) or (6 in [i]) or (9 in [i]):
        print("X")
    else:
        print(i)

# i를 리스트로 하여 연속형으로 만들었음
# 하지만 리스트 자체가 연속형일뿐 리스트 안의 원소는 정수형으로 불연속임
# 따라서 13, 16, 19같은 불연속형은 3이 있어도 1과 3이 아닌 13자체로 받기에 인식하지 못함

30
1
2
X
4
5
X
7
8
X
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
if (3 in [13]):
        print("X")
elif (3 in [3]):
  print("O")

O

In [ ]:
n = int(input())
for i in range(1, n+1):
    i = str(i)
    if ("3" in [i]) or ("6" in [i]) or ("9" in [i]):
        print("X")
    else:
        print(i)

# 문자 자체에 3이 있는지 가 아니라
# 리스트 안에 문자가 있는지를 확인하게 되어 13, 16, 19 적용안됨
# 아래 코드로 확인

30
1
2
X
4
5
X
7
8
X
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
if "3" in ["13"]:
   print("X")
elif "3" in "13":
  print("O")

O

# **빛섞어 색만들기**

In [ ]:
r, g, b = map(int, input().split())
if (0<=r and r<=127) and (0<=g and g<=127) and (0<=b and b<=127):
    for i in range(0, r):
        for j in range(0, g):
            for k in range(0, b):
                print(i, j, k)
    print(r*g*b)

2 3 2
0 0 0
0 0 1
0 1 0
0 1 1
0 2 0
0 2 1
1 0 0
1 0 1
1 1 0
1 1 1
1 2 0
1 2 1
12

In [ ]:
r=10
g= 5
for r in range(r):
  for g in range(g):
    print(r,g)

# for문에 웬만하면 range에 들어가는 것과 중복되지 않게

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
2 0
2 1
2 2
3 0
3 1
4 0

In [ ]:
r=10
g= 5
for i in range(r):
  for j in range(g):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
7 0
7 1
7 2
7 3
7 4
8 0
8 1
8 2
8 3
8 4
9 0
9 1
9 2
9 3
9 4

# **3의 배수는 통과 => Continue 사용**

In [ ]:
# Continue 사용하면 해당 루프 생략하고 다음 루프로 넘어감
a = int(input())

for i in range(1, a+1):
    if i%3!=0:
        print(i)
    else:
        continue

10
1
2
4
5
7
8
10

# **6092, 이상한 출석체크**

In [ ]:
a = int(input())
b = input().split()
for i in range(a):
  b[i] = int(b[i])
list = [0 for i in range(23)]
for i in b:
  list[i-1]+=1
for i in range(0, 23):
  print(list[i], end=' ')

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
a = int(input())
b = input().split()     # str로 찬 리스트가 나옴
list = [0 for i in range(23)]

if (1<=a<=10000) and (1<=len(b)<=23):
    for i in b:
      i = int(i)
      list[i-1]+=1
    for i in range(len(list)):
      print(list[i], end=" ")

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
a = int(input())
b = input().split()     # str로 찬 리스트가 나옴
list = [0 for i in range(23)]

if (1<=a<=10000) and (1<=len(b)<=23):
    for i in b:
      i = int(i)
      list[i-1]+=1
    for i in list:
      print(i, end=" ")

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

# **6093, 거꾸로 숫자 출력**

In [ ]:
n = int(input())
k = input().split()
for i in range(n):
  k[i] = int(k[i])
for i in range(n-1, -1, -1):   # range(시작, 끝, 증감) # 시작은 무조건 포함, 끝은 포함안함
    print(k[i], end= ' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

# **6094, 최소값 찾기**

In [ ]:
n = int(input())
k = input().split()
for i in range(n):
  k[i] = int(k[i])
print(min(k))

10
10 4 2 3 6 6 7 9 8 5
2

In [ ]:
# 기준잡고 비교해나가는 방식

n = int(input())
k = input().split()
for i in range(n):
  k[i] = int(k[i])
standard = k[0]

for i in range(n):
  if k[i] < standard:
    standard = k[i]
  else:
    continue
print(standard)

5
10 4 2 3 6
2

# **6095, 바둑판 돌 놓기**

In [ ]:
n = int(input())
pan = [[0 for i in range(19)] for j in range(19)]

for i in range(1, n+1):
    x, y = map(int, input().split())
    pan[x-1][y-1]=1     # 중복좌표는 카운트되면 안되니까 +=1이 아닌 =1로 설정
for j in range(19):
    for k in range(19):
        print(pan[j][k], end=' ')
    print("")   # end=""쓰고 다음줄로 넘어가고 싶을때 print()하면 한줄 띄고 다음줄에 출력   # print("\n")은 아예 한줄을 차지함

3
1 1
2 2
3 3
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
print(1)
print("")
print(2)

1

2

In [ ]:
print(1)
print()
print(2)

1

2

In [ ]:
print(1)
print("\n")
print(2)

1


2

In [ ]:
print(1, 2, end=" ")
print(2)

1 2 2

In [ ]:
print(1, 2, end=" ")
print()
print(2)

1 2
2

# **6096, 바둑알 십자 뒤집기**

In [ ]:
pan = [[0 for i in range(19)] for j in range(19)]

# 바둑판 상황 만들어주기
for i in range(19):
   a = input().split()
   for j in range(19):
     pan[i][j] = int(a[j])

n = int(input())      # 입력 순서 지켜야 하므로 맨 앞이 아닌 여기서 선언해준다
for i in range(n):
    x, y = map(int, input().split())
    for j in range(19):
        if pan[x-1][j] == 1: 
          pan[x-1][j] = 0
        else:
          pan[x-1][j] = 1
    for k in range(19):
        if pan[k][y-1] == 1:
          pan[k][y-1] = 0
        else:
          pan[k][y-1] =1

for m in range(19):
    for n in range(19):
        print(pan[m][n], end=' ')
    print("")

In [ ]:
a = input().split()
print(a)

2 2 2 3
['2', '2', '2', '3']

# **6097, 설탕과자 뽑기**

In [ ]:
w, h = map(int, input().split())
pan = [[0 for i in range(w)] for j in range(h)]
n = int(input())

for i in range(n):
    l, d, x, y = map(int, input().split())
    for j in range(l):
      if d==1:
        pan[x+(j-1)][y-1] = 1
      elif d==0:
        pan[x-1][y+(j-1)] = 1

for m in range(h):
    for n in range(w):
        print(pan[m][n], end=" ")
    print()

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

# **6098, 성실한 개미**

In [ ]:
# 코드업 홈페이지에서 원한 답
# 판만들기가 내가 한 거랑 다름
# 분명 테두리는 벽이라면서...
# 조건 넣어주면 틀렸다고 그러고...

pan = [[0 for i in range(10)] for j in range(10)]
for i in range(10):
    pan[i]=list(map(int,input().split()))
    
x, y = 1, 1
pan[1][1] = 9
while True:
  if ((x==8)and(y==8)) or (pan[x][y]==2):
    pan[x][y]=9
    break

  if (pan[x][y+1] != 1):
    pan[x][y] = 9
    y+=1
  else:
    if (pan[x+1][y] != 1):
      pan[x][y] = 9
      x+=1
    else:
      pan[x][y]=9
      break

for m in range(10):
    for n in range(10):
        print(pan[m][n], end=" ")
    print()

In [7]:
pan = [[0 for i in range(10)] for j in range(10)]  # 외부 벽 생성
for i in range(10):
    pan[0][i] = 1
    pan[9][i] = 1
    pan[i][0] = 1
    pan[i][9] = 1
    
a = int(input())   # 내부 벽 개수 설정
for i in range(a):
    x, y = map(int, input().split())
    pan[x][y] = 1

w, z = map(int, input().split())   # 먹이 설정
pan[w][z] = 2
    
x, y = 1, 1
pan[1][1] = 9
while True:
  if ((x==8)and(y==8)) or (pan[x][y]==2):
    pan[x][y]=9
    break

  if (pan[x][y+1] != 1):
    pan[x][y] = 9
    y+=1
  else:
    if (pan[x+1][y] != 1):
      pan[x][y] = 9
      x+=1
    else:
      pan[x][y]=9
      break

for m in range(10):
    for n in range(10):
        print(pan[m][n], end=" ")
    print()

11
1 3
2 3
2 4
2 5
3 7
4 7
5 5
5 7
6 5
6 7
7 5
6 6
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1